.places {
  padding: 1rem;
  gap: 3rem;

  @include media(tablet) {
    display: flex;
    margin: 2rem;
    flex-direction: column;
  }
  @include media(desktop) {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  &-map {
    @include media(desktop) {
      z-index: 9;
      width: 40%;
      height: 100vh;
      position: fixed;
      bottom: 0;
      right: 0;
    }
  }
  &-onePlace {
    width: 100%;
    @include media(tablet) {
      display: flex;
      flex-direction: row;
    }
    @include media(desktop) {
      width: 55%;
    }
    &-infos {
      padding-left: 3%;
      &-prix {
        padding: 1%;
      }
    }
  }
  .name {
    text-decoration: none;
    color: black;
  }
  .imgAppart {
    width: 21rem;
    border-radius: 15px;
  }
  p {
    padding-top: 1rem;
  }
}
